.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(33, 33, 35, 0.80);
    opacity: 0;
    transition: opacity var(--transition);
    pointer-events: none;
    z-index: 998
}

.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}